.pie-pagina{
text-align: center;
}
/*CARRUCEL*/
.carousel {
  max-width: 900px; 
  margin: 10px auto;   
  border-radius: 10px; 
  overflow: hidden; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
.titulo{
  color: tomato;
  background-color: black;
  text-align: center;
  margin-top: 20px;
}
/*Barra de navegacion*/
.navbar {
  background-color: #343a40; 
  padding: 10px;
}

.container-fluid {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
}

.navbar-brand {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  gap: 15px; 
}

.nav-link {
  color: #fff;
  font-size: 20px;
}

.nav-link:hover {
  color: #0d6efd;
}

.form-control {
  width: 200px;
}

.btn-outline-success {
  color: #fff;
  border-color: #198754;
}

.btn-outline-success:hover {
  background-color: #198754;
  color: #fff;
}
